# DEFAULTS
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Database
DATABASE_URL=""
LOCAL_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Authentication
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/google-credentials.json
GOOGLE_CLOUD_PROJECT_ID=your-google-cloud-project-id
GOOGLE_CLOUD_STORAGE_BUCKET=your-google-cloud-storage-bucket

# Redis - Local for Development
# REDIS_URL="redis://localhost:6379"

# Upstash Redis - For Production
REDIS_URL="rediss://default:your-password@your-instance.upstash.io:6379"
KV_URL="rediss://default:your-password@your-instance.upstash.io:6379"
KV_REST_API_URL="https://your-instance.upstash.io"
KV_REST_API_TOKEN="your-token"
KV_REST_API_READ_ONLY_TOKEN="your-read-only-token"

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN=your-vercel-blob-read-write-token